{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <a class="btn btn-primary btn-lg pull-right" href="{{ path('api_description') }}" role="button">Public API</a>
    <h1>openPet</h1>
    <p>
        A public repository for pet adoption.
        Currently with 
        {{ specimenTotal }}
        pets and growing. 
    </p>
</div>

<h2>Lastest Pets</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="location">Locations</label>
                <select class="form-control" id="location" name="location">
                      <option value="0">All</option>
                      {% for location in locations %}
                      <option value="{{ location.id }}" {% if app.request.get('location') == location.id %}selected{% endif %}>{{ location.name }}</option>
                      {% endfor %}
                </select>
            </div>
            <div class="form-group">
                &nbsp; &nbsp;
                <label for="race">Race</label>
                <select class="form-control" id="race" name="race">
                      <option value="0">All</option>
                      {% for race in races %}
                      <option value="{{ race.id }}" {% if app.request.get('race') == race.id %}selected{% endif %}>{{ race.name }}</option>
                      {% endfor %}
                </select>
            </div>
            <div class="form-group">
                &nbsp; &nbsp;
                <label for="sex">Genre</label>
                <select class="form-control" id="sex" name="sex">
                      <option value="0">All</option>
                      <option value="M" {% if app.request.get('sex') == 'M' %}selected{% endif %}>Male</option>
                      <option value="F" {% if app.request.get('sex') == 'F' %}selected{% endif %}>Female</option>
                </select>
            </div>
            <div class="form-group">
                &nbsp; &nbsp;
                <label for="age">Age between</label>
                <input type="text" class="form-control" id="age" size="3" name="from_age" {% if app.request.get('from_age') %}value="{{ app.request.get('from_age') }}"{% endif %}>
                and
                <input type="text" class="form-control" id="age2" size="3" name="to_age" {% if app.request.get('to_age') %}value="{{ app.request.get('to_age') }}"{% endif %}>
            </div>
            &nbsp; &nbsp;
            <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
</div>


<div class="row">

    {% for specimen in specimens %}
    <div class="col-sm-4 col-md-3" >
        <div class="thumbnail" style="height:500px;overflow:hidden">
            <img src="{{ specimen.image }}">
            <div class="caption">
                <a href="#" class="btn btn-primary pull-right" role="button" data-toggle="modal" data-target="#specimen-{{ specimen.id }}">Details</a> 
                <h3>
                    {{ specimen.name }}
                </h3>
                <p>
                    <b>{{ specimen.summary }}</b>
                    <br>
                    {{ specimen.description }}
                </p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="specimen-{{ specimen.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{ specimen.name }}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-thumbnail" src="{{ specimen.image }}">
                        </div>
                        <div class="col-md-8">
                            <b>{{ specimen.summary }}</b>
                            <br>
                            {{ specimen.description }}
                            <br>
                            <br>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>Genre:</dt>
                                        <dd>{{ specimen.sex }}</dd>
                                        <dt>Birth:</dt>
                                        <dd>{{ specimen.birthdate|date('d/m/Y') }}</dd>
                                        <dt>Entry date:</dt>
                                        <dd>{{ specimen.entrydate|date('d/m/Y') }}</dd>
                                        <dt>Race:</dt>
                                        <dd>{{ specimen.race.name }}</dd>
                                        <dt></dt>
                                        <dd>{{ specimen.race.specie.name }}</dd>
                                        <dt>Data source:</dt>
                                        <dd>{{ specimen.origin.name }}</dd>
                                        <dt></dt>
                                        <dd><a href="{{ specimen.origin.url }}">{{ specimen.origin.url }}</a></dd>
                                        <dt>Location:</dt>
                                        <dd>{{ specimen.location.name }}</dd>
                                        <dt></dt>
                                        <dd>{{ specimen.location.province.name }}</dd>
                                    </dl>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

</div>


{% endblock %}
